@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Baloo Tammudu 2', cursive;


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  letter-spacing: .1rem;
  font-family: $font-primary ;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: $font-secondary;
  font-weight: 800;
  font-size: 3.3rem;
  text-align: center;
  line-height: 1.2;
}

.lead {
  text-align: center;
  font-weight: lighter;
}