


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  letter-spacing: .1rem;

}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}